body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
}

h1 {
    color: #EC615B;
    font-size: 26px;
    font-weight: bold;
}

header img {
    width: 250px;
}

/* INTRO */

.intro img {
    width: 100%;
    height: 600px;
}

.intro p {
    text-align: justify;
}

.intro h1, .intro-data h1 {
    margin-bottom: 25px;
    margin-top: 25px;
}

/* INTRO DATA*/

.intro-data {
    margin-top: 60px;
}

.intro-data img {
    width: 100%;
}

.intro-data p {
    text-align: justify;
}

/* INTRO CAD */

.intro-cad {
    margin: 60px auto;
    text-align: center;
}

.intro-cad img {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}

.intro-cad button {
    width: 300px;
    background: #6200EE;
    border: none; 
    border-radius: 4px;
	padding: 15px;
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .1em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.btn-rosa button {
    background: #EC615B;
}

/* PRODUTOS */

.search {
    margin: 50px 140px 0 140px;
}

.search label{
    display: none;
}

.search input {
    box-sizing: border-box;
    width: 520px;
    height: 50px;
    border: none;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.14), 5px 3px 14px rgba(0, 0, 0, 0.12), 5px 5px 5px rgba(0, 0, 0, 0.2);
    background: none;
    font-size: 14px;
    padding: 10px;
    outline: none;
    float: left;

}

.search button {
    background: #EC615B;
    border: none;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.14), 5px 3px 14px rgba(0, 0, 0, 0.12), 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    width: 160px;
    height: 50px;
    padding: 8px 0px;
    color: #FFF;
    cursor: pointer;
    outline: none;
}


.produtos-item ul li {
    text-align: center;
    margin: 35px 0 0 30px;
}


.produtos-item img {
    width: 252px;
    height: 200px;
}

/* DESTAQUES */

.destaque {
    text-align: center;
    margin-bottom: 40px;
}

.destaque h1 {
    padding: 60px 30px;
    text-align: left;   
}

.destaque img {
    width: 350px;
    height: 300px;
}

/* CADASTRO */

.form h1 {
    margin: 40px 0;
}


.form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border: none;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.14), 5px 3px 14px rgba(0, 0, 0, 0.12), 5px 5px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #FEF8F8;
    font-size: 14px;
    padding: 10px;
    outline: none;

}

.form-produto textarea {
    width: 940px;
    height: 100px;
}

.form button {
    background: #EC615B;
    border: none;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.14), 5px 3px 14px rgba(0, 0, 0, 0.12), 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    height: 50px;
    padding: 8px 0px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}

